Repository hmcts/div-document-generator-client, pull requests merged in 2018-11, with the labels that each got.

#77 Enable mutation nightly
  Jenkinsfile_nightly
  README.md
  build.gradle
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ServiceContextConfiguration.java
  src/kubernetes/deployment.template.yaml
Labels: ns:div-dgs-pr-77

#75 Content update
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-NW_No-Sol-Name_No-SolComp-Name.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Name.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/resources/data/templates/aosinvitation.html
Labels: ns:div-dgs-pr-75

#82 Aos inviation letter layout
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-NW_No-Sol-Name_No-SolComp-Name.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Name.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/resources/data/templates/aosinvitation.html
Labels: ns:div-dgs-pr-82
