Repository hmcts/div-document-generator-client, pull requests merged in 2019-04, with the labels that each got.

#116 Div 4575 aos letter content should have amend details if it is amended one
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Amend_Petition.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/main/resources/data/templates/aosinvitation.html
Labels: ns:div-dgs-pr-116

#117 Previous issue date format should be yyyy-MM-dd
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Amend_Petition.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Desertion-Amend-Case.json
  src/main/resources/data/templates/divorceminipetition.html
Labels: ns:div-dgs-pr-117

#121 Div 4584 new template for generating aos response
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_2Year_Defend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_2Year_Undefend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_5Year_Defend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_5Year_Undefend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Adultery_Defend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Adultery_Undefend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Behaviour_Defend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Behaviour_Undefend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Behaviour_Undefend_noAdmit_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Desertion_Defend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Desertion_Undefend_Response.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_Desertion_Undefend_noAdmit_Response.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Desertion-Amend-Case.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_2Year_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_2Year_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_5Year_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_5Year_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Adultery_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Adultery_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Behaviour_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Behaviour_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Behaviour_Undefend_noAdmit_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Desertion_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Desertion_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Desertion_Undefend_noAdmit_Response.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/data/templates/respondentAnswers.html
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-121

#113 DIV-4519 Added helm chart config
  Jenkinsfile_CNP
  build.gradle
  charts/div-dgs/Chart.yaml
  charts/div-dgs/requirements.yaml
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  charts/div-dgs/values.yaml
  dependency-check-suppressions.xml
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/DocumentGeneratorApplication.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
Labels: ns:div-dgs-pr-113

#123 DIV-3956: remove_logging_noise
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/HttpConnectionConfiguration.java
  src/test/resources/logback-test.xml
Labels: ns:div-dgs-pr-123

#118 DIV-4573 handle long names
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:div-dgs-pr-118
