Repository hmcts/div-document-generator-client, pull requests merged in 2019-07, with the labels that each got.

#169 DIV-4981 Change Court Address on Letters
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/5YearSeparationWithMentalSeparationDate.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Online.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Paper.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CoresRes_FO--App_CN--F_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CorresRes_FO--ChildApp_CN--ADEF_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CorresRes_FO--Child_CN--AD_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CorresRes_FO--No_CN--AC_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Corres_FO--App_CN--E_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Corres_FO--Child_CN--BCDEFG_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Corres_FO--No_CN--C_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--App_CN--EF_DR-S2Y-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--ChildApp_CN--ABCDEFG_DR-DES-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--Child_CN--BCF_DR-S5Y-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--No_CN--A_DR-AD-CRK-NO-PL-NO-DT-NO_LP--NO.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--App_CN--D_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--ChildApp_CN--CDEF_DR-UB-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--Child_CN--G_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--No_CN--B_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Petitioner-Solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Special-Chars-Confidential.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-UB-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Long-SoC-Solicitors.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Desertion-Amend-Case.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Desertion.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_2Year_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_2Year_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_5Year_Defend_Response_No_Claim_Costs.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_5Year_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Adultery_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Adultery_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Behaviour_Defend_Response_No_Claim_Costs.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Behaviour_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Behaviour_Undefend_noAdmit_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Desertion_Defend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Desertion_Undefend_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_Desertion_Undefend_noAdmit_Response.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/co-respondent-answers-defended-admit-costs.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/co-respondent-answers-undefended-no-admit-no-costs.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/mini-petition-draft-no-place-of-marriage.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/mini-petition-draft.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:div-dgs-pr-169

#154 DIV-3264: Update readme
  README.md
Labels: ns:div-dgs-pr-154

#170 Shift Docmosis settings to come from public vault. Excluding helm cha…
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yml
Labels: ns:div-dgs-pr-170

#165 DIV-4938: Decree Absolute document generation
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/EMStoreIntegrationTest.java
  src/integrationTest/resources/documentgenerator/da.json
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
Labels: ns:div-dgs-pr-165

#173 Map DecreeAbsoluteGrantedDate from DateTime format
  src/integrationTest/resources/documentgenerator/da.json
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
Labels: ns:div-dgs-pr-173

#174 Add flag for DevMode to Docmosis
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/request/PdfDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImplUTest.java
Labels: ns:div-dgs-pr-174

#175 DN answers
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/EMStoreIntegrationTest.java
  src/integrationTest/resources/documentgenerator/dn-submission.json
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-175

#176 Upgrade versions for CVE issue
  build.gradle
Labels: ns:div-dgs-pr-176

#177 Behaviour/Adultery date formatting for docmosis template
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
Labels: ns:div-dgs-pr-177
