Repository hmcts/div-document-generator-client, pull requests merged in 2019-01, with the labels that each got.

#93 Fix vulnerability check
  dependency-check-suppressions.xml
Labels: ns:div-dgs-pr-93

#95 DIV-3885 - set a separate timeout for health checks
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/HttpConnectionConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/EvidenceManagementClientHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/PDFServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/ServiceAuthProviderHealthCheck.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/HealthCheckITest.java
Labels: ns:div-dgs-pr-95

#96 DIV-3814 - removed dependency check suppression for CVE-2018-8088
  dependency-check-suppressions.xml
Labels: ns:div-dgs-pr-96

#97 Update divorce court email address
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/resources/data/templates/aosinvitation.html
Labels: ns:div-dgs-pr-97

#92 Div 3663 revised mini petition
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/D8MiniPetitionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IdamUtils.java
  src/integrationTest/resources/documentgenerator/d8minipetition/jsoninput/5YearSeparationWithMentalSeparationDate.json
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/5YearSeparationWithMentalSeparationDate.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--CoresRes_FO--App_CN--F_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--CorresRes_FO--ChildApp_CN--ADEF_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--CorresRes_FO--Child_CN--AD_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--CorresRes_FO--No_CN--AC_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--Corres_FO--App_CN--E_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--Corres_FO--Child_CN--BCDEFG_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--Corres_FO--No_CN--C_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--No_FO--App_CN--EF_DR-S2Y-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--No_FO--ChildApp_CN--ABCDEFG_DR-DES-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--No_FO--Child_CN--BCF_DR-S5Y-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--No_FO--No_CN--A_DR-AD-CRK-NO-PL-NO-DT-NO_LP--NO.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--Res_FO--App_CN--D_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--Res_FO--ChildApp_CN--CDEF_DR-UB-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--Res_FO--Child_CN--G_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--Res_FO--No_CN--B_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Petitioner-Solicitor.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Special-Chars-Confidential.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/d8minipetition/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-UB-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Long-SoC-Solicitors.pdf
  src/main/resources/data/templates/divorceminipetition.html
Labels: ns:div-dgs-pr-92
