Repository hmcts/div-document-generator-client, pull requests merged in 2019-05, with the labels that each got.

#122 DIV-4539
  build.gradle
  co-respondent-answers-defended-admit-costs.pdf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/co-respondent-answers-defended-admit-costs.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/co-respondent-answers-undefended-no-admit-no-costs.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/co-respondent-answers-defended-admit-costs.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/co-respondent-answers-undefended-no-admit-no-costs.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/data/templates/co-respondent-answers.html
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-122

#125 Enable notifications on master only
  Jenkinsfile_CNP
Labels: ns:div-dgs-pr-125

#127 refactor to include docmosis
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/DocmosisBasePdfConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/request/PdfDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/PDFGenerationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/PDFGenerationServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/PDFGenerationServiceImplUTest.java
Labels: ns:div-dgs-pr-127

#131 Fix broken test
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImplUTest.java
Labels: ns:div-dgs-pr-131

#130 DIV-4860 - update the divorce contact email to contactdivorce@...
  AOS_Same-Sex-Female.pdf
  README.md
  co-respondent-answers-defended-admit-costs.pdf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Online.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Paper.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:div-dgs-pr-130

#135 DIV-3797: Removing Travis CI from our GitHub checks
  .travis.yml
Labels: ns:div-dgs-pr-135

#133 Solicitor submitting petition - Adultery Corespondent fields should be shown in pdf
  src/integrationTest/resources/documentgenerator/documents/jsoninput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Petitioner-Solicitor.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Petitioner-Solicitor.pdf
  src/main/resources/data/templates/divorceminipetition.html
Labels: ns:div-dgs-pr-133

#129 Use Docmosis to generate documents
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  charts/div-dgs/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/EMStoreIntegrationTest.java
  src/integrationTest/resources/documentgenerator/coe.json
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorController.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/CcdCollectionMember.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/factory/PDFGenerationFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-129

#137 Force Jackson DataBind to 2.9.9 from 2.9.8
  build.gradle
Labels: ns:div-dgs-pr-137

#138 Add Production Docmosis Url for Prod Env
  infrastructure/prod.tfvars
Labels: ns:div-dgs-pr-138

#139 Override Spring's management endpoint cache to 30 seconds in AAT/Preview
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
Labels: ns:div-dgs-pr-139

#140 Fixed invalid tf attribute - value -> default
  infrastructure/variables.tf
Labels: ns:div-dgs-pr-140

#134 DIV-4835 Fix PMD/checkstyle warnings
  build.gradle
  ruleset.xml
Labels: ns:div-dgs-pr-134

#132 DIV-4882 add instruction to read the enclosed document.
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Online.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Paper.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:div-dgs-pr-132
