Repository hmcts/div-document-generator-client, pull requests merged in 2019-03, with the labels that each got.

#108 DIV-4116 increase right margin length
  checkstyle.xml
Labels: ns:div-dgs-pr-108

#110 DIV-4406: Applied new styling to access code
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorController.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:div-dgs-pr-110

#112 DIV-4496 handle same sex couples
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Same-Sex-Female.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Same-Sex-Male.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/main/resources/data/templates/aosinvitation.html
Labels: ns:div-dgs-pr-112

#107 Div 4356 desertion agreement
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Desertion.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Desertion.pdf
  src/main/resources/data/templates/divorceminipetition.html
Labels: ns:div-dgs-pr-107

#111 Setup SAAT and SIDAM
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/resources/application-aat.properties
  src/integrationTest/resources/application-local.properties
  src/integrationTest/resources/application-preview.properties
  src/integrationTest/resources/application-saat.properties
  src/integrationTest/resources/application.properties
Labels: ns:div-dgs-pr-111

#114 Added dynamic header to Mini-petition for amended applications.
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Desertion-Amend-Case.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/5YearSeparationWithMentalSeparationDate.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CoresRes_FO--App_CN--F_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CorresRes_FO--ChildApp_CN--ADEF_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CorresRes_FO--Child_CN--AD_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--CorresRes_FO--No_CN--AC_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Corres_FO--App_CN--E_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Corres_FO--Child_CN--BCDEFG_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Corres_FO--No_CN--C_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--App_CN--EF_DR-S2Y-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--ChildApp_CN--ABCDEFG_DR-DES-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--Child_CN--BCF_DR-S5Y-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--No_FO--No_CN--A_DR-AD-CRK-NO-PL-NO-DT-NO_LP--NO.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--App_CN--D_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--ChildApp_CN--CDEF_DR-UB-CRK-No-PL-No-DT-No_LP--No.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--Child_CN--G_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--Res_FO--No_CN--B_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Petitioner-Solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Special-Chars-Confidential.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-AD-CRK-Yes-PL-Yes-DT-Yes_LP--Yes.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-UB-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Long-SoC-Solicitors.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Desertion-Amend-Case.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Desertion.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/test.pdf
  src/main/resources/data/templates/divorceminipetition.html
Labels: ns:div-dgs-pr-114

#115 Supress dependency check
  dependency-check-suppressions.xml
Labels: ns:div-dgs-pr-115

#109 DIV-4369
  src/integrationTest/resources/documentgenerator/documents/jsoninput/CC--cores_FO--ChildApp_CN--BCDE_DR-UB-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Long-SoC-Solicitors.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CC--cores_FO--ChildApp_CN--BCDE_DR-UB-CRK-Yes-PL-Yes-DT-Yes_LP--Yes-Long-SoC-Solicitors.pdf
  src/main/resources/data/templates/divorceminipetition.html
Labels: ns:div-dgs-pr-109
