Repository hmcts/div-document-generator-client, pull requests merged in 2019-08, with the labels that each got.

#178 DIV-5473: AOS offline invitation letter template for the respondent
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Invitation-Letter-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Invitation-Letter-Respondent.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-178

#179 DIV-4962 - Solicitor Personal Service
  Jenkinsfile_CNP
  build.gradle
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/documentgenerator/documents/jsoninput/solicitor-personal-service.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/solicitor-personal-service.pdf
  src/integrationTest/resources/example-application-local.properties
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorController.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/test/endpoint/DocumentGenerationTestController.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/test/endpoint/DocumentGenerationTestControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-179

#181 DIV-4962 - update integration test file following template change
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/solicitor-personal-service.pdf
Labels: ns:div-dgs-pr-181

#185 Fix security error/test on master and nightly pipelines
  Jenkinsfile_CNP
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Invitation-Letter-Co-Respondent.json
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGenerateDownloadController.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorController.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGenerateDownloadControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorControllerUTest.java
Labels: ns:div-dgs-pr-185

#188 Removed security scan
  Jenkinsfile_CNP
Labels: ns:div-dgs-pr-188

#182 DIV-5542: Amended AOS offline letter template for the respondent
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Invitation-Letter-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Invitation-Letter-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Invitation-Letter-Respondent.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-182

#192 Fixed webconfig appinsights version
  web.config
Labels: ns:div-dgs-pr-192

#186 DIV-5584: add divorce documents
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-2-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-5-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Co-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Behaviour-Desertion-Form.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-186

#194 DIV-5517 - enable AKS AAT deployment
  Jenkinsfile_CNP
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
Labels: ns:div-dgs-pr-194

#195 DIV-5517 - added missing test_environment setup for AAT
  Jenkinsfile_CNP
Labels: ns:div-dgs-pr-195
