Repository hmcts/div-document-generator-client, pull requests merged in 2019-06, with the labels that each got.

#148 Set instance size to I3
  infrastructure/main.tf
Labels: ns:div-dgs-pr-148

#149 Adjust instance size by variables
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:div-dgs-pr-149

#144 Respondent Answers Sub heading updated to reflect solicitor representation
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_2Year_Solicitor_Defend_Response.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Resp_2Year_Solicitor_Defend_Response.pdf
  src/main/resources/data/templates/respondentAnswers.html
Labels: ns:div-dgs-pr-144

#150 Field name change
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Resp_2Year_Solicitor_Defend_Response.json
  src/main/resources/data/templates/respondentAnswers.html
Labels: ns:div-dgs-pr-150

#145 DIV-4484 upgrade gradle version to 5.x
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:div-dgs-pr-145

#146 Update template Data Mapper to bridge differences between CoE templat…
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/request/PdfDocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/factory/PDFGenerationFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-146

#153 DIV-4634 Add eastMidlands to template for generating AoS with PIN
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Co-respondent_Paper.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Paper.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:div-dgs-pr-153

#152 DIV-4420: generating mini petition draft
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/mini-petition-draft.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/mini-petition-draft.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/data/templates/divorcedraftminipetition.html
  src/main/resources/example-application-aat.yml
Labels: ns:div-dgs-pr-152

#151 DIV-5058: OWASP upgrade
  build.gradle
  checkstyle.xml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/DocumentGeneratorApplicationTests.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/WebServiceHealthCheckUTest.java
Labels: ns:div-dgs-pr-151

#157 Feature toggle added
  Jenkinsfile_CNP
  build.gradle
  charts/div-dgs/values.aat.template.yaml
  charts/div-dgs/values.preview.template.yaml
  checkstyle.xml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Co-respondent_Paper.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/mini-petition-draft.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Paper.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/mini-petition-draft.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
  src/main/resources/data/templates/divorcedraftminipetition.html
  src/main/resources/example-application-aat.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/DocumentGeneratorApplicationTests.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/WebServiceHealthCheckUTest.java
Labels: ns:div-dgs-pr-157

#159 DIV-4977: place of marriage may be blank when draft of mini petition is generated
  src/main/resources/data/templates/divorcedraftminipetition.html
Labels: ns:div-dgs-pr-159

#147 DIV-4831 Cost Order document
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/EMStoreIntegrationTest.java
  src/integrationTest/resources/documentgenerator/costs-order.json
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-147

#160 DIV-4977: added more functional tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/mini-petition-draft-no-place-of-marriage.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/mini-petition-draft-no-place-of-marriage.pdf
Labels: ns:div-dgs-pr-160

#158 Integration tests fixed with toggle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Amend_Petition-Sol-Online-Avl.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Hus_Res-Addr_DivUnit-EM-Sol-Online-Avl.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Hus_Res-Addr_DivUnit-EM.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Hus_Res-Addr_DivUnit-SC-Sol-Online-Avl.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Same-Sex-Female-Sol-Online-Avl.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Same-Sex-Male-Sol-Online-Avl.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Wife_Sol-Addr_DivUnit-WM.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/resources/data/templates/aosinvitation.html
Labels: ns:div-dgs-pr-158

#161 Pass CourtName as is and populate ServiceCourtName with hardcoded val…
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
Labels: ns:div-dgs-pr-161

#155 DIV-4826: Adding new template id
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/factory/PDFGenerationFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:div-dgs-pr-155

#168 Feature toggle fix in integration tests and making toggle to string
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/example-application-local.properties
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
Labels: ns:div-dgs-pr-168
