Repository hmcts/div-document-generator-client, pull requests merged in 2020-11, with the labels that each got.

#385 TA-32: Initial cut of Consumer Test code for PDF service
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/divorce/documentgenerator/PdfGGenerationServiceConsumerTest.java
  src/contractTest/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-dgs-pr-385

#381 RPET-384: update respond url for AOS Invitation
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Online.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male-Sol-Online-Avl.pdf
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:divorce, prd:div, rel:div-dgs-pr-381

#384 TA-149 : Add nightly functions tests and upgrade tomcat
  Jenkinsfile_nightly
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/EMStoreIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/GenerateDraftPDFTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/application.properties
Labels: ns:divorce, prd:div, rel:div-dgs-pr-384
