Repository hmcts/div-document-generator-client, pull requests merged in 2020-07, with the labels that each got.

#348 Bump tomcatEmbededCore and tomcatEmbededWebsocket cve-2020-11996
  build.gradle
Labels: ns:divorce, prd:div, rel:div-dgs-pr-348

#347 RPET-312 Change court contact address for decree nisi
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-347

#349 using renamed template: FL-DIV-LET-ENG-00358 -> FL-DIV-LET-ENG-00358A
  src/integrationTest/resources/documentgenerator/documents/jsoninput/cost-order-cover-letter-co-respondent.json
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-dgs-pr-349

#296 Demo aks
  charts/div-dgs/Chart.yaml
  charts/div-dgs/values.yaml
  dependency-check-suppressions.xml
  docker-compose.yml
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-2-Year-Separation-Form-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-5-Year-Separation-Form-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Co-Respondent-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Respondent-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Behaviour-Desertion-Form-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form-Welsh.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/LanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplateConfig.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorController.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/DefaultHttpEntityFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/util/LocalDateToWelshStringConverter.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/DocumentGeneratorControllerUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/util/LocalDateToWelshStringConverterTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-296
