Repository hmcts/div-document-generator-client, pull requests merged in 2020-09, with the labels that each got.

#369 DIV-6140: FL-DIV-GOR-ENG-00572-GeneralOrder-Updated
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/General-order-document-with-corespondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/General-order-document-without-corespondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/General-order-document-with-corespondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/General-order-document-without-corespondent.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/factory/PDFGenerationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/PDFGenerationServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/TemplateManagementServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-369

#371 DIV-6140-Sonar fix
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-371

#372 DIV-6140-Sonar warning update
  build.gradle
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/EvidenceManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/EvidenceManagementServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-372

#370 DIV-6146: General letter document
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/General-letter-with-no-solicitor.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/General-letter-with-solicitor.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/General-letter-with-no-solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/General-letter-with-solicitor.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-370

#373 DIV-6146: General letter document
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/General-letter-with-no-solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/General-letter-with-solicitor.pdf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-373

#358 RPET 263: Upgrade java 11
  Dockerfile
  README.md
  build.gradle
  lombok.config
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/EvidenceManagementServiceImplUTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-358
