Repository hmcts/div-document-generator-client, pull requests merged in 2020-08, with the labels that each got.

#354 DIV-6237: register FL-DIV-DEC-ENG-00531.docx
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Order-to-dispense.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Order-to-dispense.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-354

#355 DIV-6238: registered FL-DIV-DEC-ENG-00534.docx (Deemed service order)
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Deemed-service-order.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Deemed-service-order.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-355

#356 DIV-6239: FL-DIV-GNO-ENG-00533-Deemed-refusal-order
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Deemed-service-refusal-order.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Deemed-service-refusal-order.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-356

#357 DIV-6464: FL-DIV-GNO-ENG-00535-Dispensed-service-refusal-order
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Dispensed-service-refusal-order.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Dispensed-service-refusal-order.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-357

#359 DIV-6480: Adding new template to DGS (AOS Overdue cover letter)
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS-Overdue-cover-letter-with-HWF.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS-Overdue-cover-letter-with-no-HWF.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS-Overdue-cover-letter-with-HWF.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS-Overdue-cover-letter-with-no-HWF.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-359

#360 DIV-6484: Changing DGS to match new template
  .github/PULL_REQUEST_TEMPLATE.md
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS-Overdue-cover-letter-with-HWF.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS-Overdue-cover-letter-with-no-HWF.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS-Overdue-cover-letter-with-HWF.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS-Overdue-cover-letter-with-no-HWF.pdf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-360
