Repository hmcts/div-document-generator-client, pull requests merged in 2020-06, with the labels that each got.

#329 DIV-6372: FL-DIV-GNO-ENG-00356 added <<solicitorReference>>
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-cover-letter-respondent-solicitor-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-cover-letter-respondent-solicitor-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-cover-letter-respondent-solicitor-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-cover-letter-respondent-solicitor-claim-not-granted.pdf
Labels: ns:divorce, rel:div-dgs-pr-329

#330 Updated FL-DIV-LET-ENG-00358 template - moved address lower
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/cost-order-cover-letter-co-respondent.pdf
Labels: ns:divorce, rel:div-dgs-pr-330

#335 Wla 514
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapperTest.java
Labels: ns:divorce, rel:div-dgs-pr-335

#337 WLA-523: Decree Nisi Granted Bilingual issues
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapperTest.java
Labels: ns:divorce, rel:div-dgs-pr-337

#333 AOS offline packs reverted to previous version
  charts/div-dgs/Chart.yaml
  charts/div-dgs/requirements.yaml
  charts/div-dgs/values.yaml
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-2-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-5-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Co-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Behaviour-Desertion-Form.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form.pdf
Labels: ns:divorce, rel:div-dgs-pr-333

#338 WLA-567 Decree Absolute Grant throwing an exception
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/util/LocalDateToWelshStringConverter.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/WelshTemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/util/LocalDateToWelshStringConverterTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-338

#341 DIV-5823 added <<letterDate>> to FL-DIV-LET-ENG-00358.docx + date formatting
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-co-respondent-costs-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-co-respondent-costs-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-costs-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-solicitor-costs-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-solicitor-costs-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DA-granted-cover-letter-respondent-solicitor.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/cost-order-cover-letter-co-respondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-co-respondent-costs-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-co-respondent-costs-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-costs-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-costs-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-solicitor-costs-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-solicitor-costs-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CoE-co-respondent-solicitor-cover-letter-costClaimGranted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CoE-co-respondent-solicitor-cover-letter-costClaimNotGranted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Cost-Order-notification-letter-co-respondent-solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DA-granted-cover-letter-respondent-solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DA-granted-letter.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/cost-order-cover-letter-co-respondent.pdf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-341

#342 DIV-5823: remove <<solicitorReference>> from template FL-DIV-GNO-ENG-00423
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Invitation-Letter-Co-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Invitation-Letter-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Cost-Order-notification-letter-co-respondent-solicitor.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Invitation-Letter-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Invitation-Letter-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Cost-Order-notification-letter-co-respondent-solicitor.pdf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-342

#343 DIV-6317: update vars 'courtOrderBeenGranted' -> 'costClaimGranted'
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN granted and cost order for respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN granted for respondent.json
Labels: ns:divorce, prd:div, rel:div-dgs-pr-343

#344 DIV-6137: remove 'costOrderAttached' var from FL-DIV-GNO-ENG-00356.docx
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-cover-letter-respondent-solicitor-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-cover-letter-respondent-solicitor-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-cover-letter-respondent-solicitor-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-cover-letter-respondent-solicitor-claim-not-granted.pdf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-344
