Repository hmcts/div-document-generator-client, pull requests merged in 2020-05, with the labels that each got.

#300 WLA-307:Divorce Mini Petition
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/util/LocalDateToWelshStringConverterTest.java
Labels: ns:divorce, rel:div-dgs-pr-300

#307 WLA-303:Welsh AOS invitation
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapper.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/mapper/TemplateDataMapperTest.java
Labels: ns:divorce, rel:div-dgs-pr-307

#308 DIV-5091: Refactoring solution so that adding new template configurations is easy
  Jenkinsfile_CNP
  build.gradle
  checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/DocumentGeneratorSmokeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/documentgenerator/category/SmokeTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-2-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-5-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Co-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Behaviour-Desertion-Form.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/response/FileUploadResponse.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/factory/PDFGenerationFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/PDFGenerationService.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/TemplateManagementService.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocmosisPDFGenerationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/PDFGenerationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/TemplateManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/DocumentGeneratorApplicationTests.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/factory/PDFGenerationFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/PDFGenerationServiceImplUTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/TemplateManagementServiceImplUTest.java
Labels: ns:divorce, rel:div-dgs-pr-308

#311 Removing unnecessary TF variable
  infrastructure/variables.tf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form.pdf
Labels: ns:divorce, rel:div-dgs-pr-311

#312 Adding new template to DGS along with two test scenarios for it
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-2-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-5-Year-Separation-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Co-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Behaviour-Desertion-Form.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN granted and cost order for respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN granted for respondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN granted and cost order for respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN granted for respondent.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, rel:div-dgs-pr-312

#314 div-6313 integration test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/da-granted-letter.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/da-granted-letter.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, rel:div-dgs-pr-314

#316 Updating document letter data
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DA-granted-letter.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DA-granted-letter.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/da-granted-letter.pdf
Labels: ns:divorce, rel:div-dgs-pr-316

#318 DIV-6342: Registered FL-DIV-GNO-ENG-00447 + tests
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/CoE-co-respondent-solicitor-cover-letter-costClaimGranted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/CoE-co-respondent-solicitor-cover-letter-costClaimNotGranted.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CoE-co-respondent-solicitor-cover-letter-costClaimGranted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CoE-co-respondent-solicitor-cover-letter-costClaimNotGranted.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, rel:div-dgs-pr-318

#317 DIV-6365: register templates
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-costs-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-costs-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Cost-Order-notification-letter-co-respondent-solicitor.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DA-granted-cover-letter-respondent-solicitor.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/cost-order-cover-letter-co-respondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-costs-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-costs-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CoE-co-respondent-solicitor-cover-letter-costClaimGranted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/CoE-co-respondent-solicitor-cover-letter-costClaimNotGranted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Cost-Order-notification-letter-co-respondent-solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DA-granted-cover-letter-respondent-solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DA-granted-letter.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/cost-order-cover-letter-co-respondent.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, rel:div-dgs-pr-317

#320 Remove pmd update packages
  build.gradle
  ruleset.xml
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN granted and cost order for respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN granted for respondent.pdf
Labels: ns:divorce, rel:div-dgs-pr-320

#321 FL-DIV-GNO-ENG-00370 and FL-DIV-GNO-ENG-00356
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-solicitor-costs-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-solicitor-costs-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-cover-letter-respondent-solicitor-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN-granted-cover-letter-respondent-solicitor-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-solicitor-costs-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-solicitor-costs-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-and-cost-order-cover-letter-respondent-solicitor-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-cover-letter-respondent-solicitor-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN-granted-cover-letter-respondent-solicitor-claim-not-granted.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, rel:div-dgs-pr-321

#323 Making all more consistent
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-costs-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-costs-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-solicitor-costs-claim-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/COE-cover-letter-respondent-solicitor-costs-claim-not-granted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/CoE-co-respondent-solicitor-cover-letter-costClaimGranted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/CoE-co-respondent-solicitor-cover-letter-costClaimNotGranted.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN granted and cost order for respondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/DN granted for respondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-solicitor-costs-claim-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/COE-cover-letter-respondent-solicitor-costs-claim-not-granted.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN granted and cost order for respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/DN granted for respondent.pdf
Labels: ns:divorce, rel:div-dgs-pr-323
