Repository hmcts/div-document-generator-client, pull requests merged in 2020-02, with the labels that each got.

#272 RPET-58: Remove the deprecated enableDockerBuild() configuration
  Jenkinsfile_CNP
Labels: ns:divorce, rel:div-dgs-pr-272

#273 Remove solicitor line
  build.gradle
  checkstyle.xml
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/main/resources/data/templates/aosinvitation.html
Labels: ns:divorce, rel:div-dgs-pr-273

#271 Removing solicitor from AOS + updating CTSC Hours
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Online.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Paper.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
  src/main/resources/data/templates/helloworldtemplate.html
Labels: ns:divorce, rel:div-dgs-pr-271

#274 Remove additional sol info
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Online.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Co-respondent_Paper.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Invitation-Letter-Co-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Invitation-Letter-Respondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male-Sol-Online-Avl.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Solicitor.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-SW_No-Sol-Company.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Wife_Sol-Addr_DivUnit-WM.pdf
  src/main/resources/data/templates/aosinvitation.html
  src/main/resources/data/templates/co-respondentinvitation.html
Labels: ns:divorce, rel:div-dgs-pr-274

#276 WLA-263 DIVORCE: Extracted Files: FL-DIV-APP-ENG-00081 - AOS offline …
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-2-Year-Separation-Form-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-5-Year-Separation-Form-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Co-Respondent-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Adultery-Form-Respondent-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Offline-Behaviour-Desertion-Form-Welsh.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-2-Year-Separation-Form-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-5-Year-Separation-Form-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Co-Respondent-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Adultery-Form-Respondent-Welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Offline-Behaviour-Desertion-Form-Welsh.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplateNameConfiguration.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/DefaultHttpEntityFactory.java
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/controller/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/management/monitoring/health/HealthCheckITest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/service/impl/DocumentManagementServiceImplUTest.java
Labels: ns:divorce, rel:div-dgs-pr-276

#277 updated nisi/absolute templates
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/decree-nisi-refusal-order-clarification.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/decree-nisi-refusal-order-rejection.pdf
Labels: ns:divorce, rel:div-dgs-pr-277

#278 fix OWASP dependency check
  build.gradle
Labels: ns:divorce, rel:div-dgs-pr-278
