Repository hmcts/div-document-generator-client, pull requests merged in 2020-10, with the labels that each got.

#378 upgrade AzureRM
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-378

#379 RPET-520: bump owasp
  build.gradle
Labels: ns:divorce, prd:div, rel:div-dgs-pr-379

#380 Adding Bailiff Refusal Order document
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Bailiff-service-refusal-order.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Bailiff-service-refusal-order.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-380

#382 DIV-5454: Adding bailiff certificate of service template
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Bailiff-certificate-of-service-with-corespondent.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/Bailiff-certificate-of-service-without-corespondent.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Bailiff-certificate-of-service-with-corespondent.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/Bailiff-certificate-of-service-without-corespondent.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-382
