Repository hmcts/div-document-generator-client, pull requests merged in 2021-04, with the labels that each got.

#449 DIV-6843: Update AOS Invitation letter
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationTest.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Online-rep-resp-journey.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/AOS_Solicitor-rep-resp-journey.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Online-rep-resp-journey.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Solicitor-rep-resp-journey.pdf
  src/integrationTest/resources/example-application-local.properties
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/main/resources/data/templates/aosinvitation-rep-resp-journey.html
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-449

#450 Making some changes to integration test
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/IdamUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/model/CreateUserRequest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-450

#451 RPET-921 chart java bump
  charts/div-dgs/Chart.yaml
Labels: ns:divorce, prd:div, rel:div-dgs-pr-451

#452 DIV-6888: fixed typo
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Solicitor-rep-resp-journey.pdf
  src/main/resources/data/templates/aosinvitation-rep-resp-journey.html
Labels: ns:divorce, prd:div, rel:div-dgs-pr-452

#453 commonsIo: '2.7'
  build.gradle
Labels: ns:divorce, prd:div, rel:div-dgs-pr-453

#454 DIV-6633: Cost Order Judge
  src/contractTest/resources/application.yml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-corespondent-all-welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-corespondent-all.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondent-all-welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondent-all.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondent-assessment-welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondent-assessment.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondent-half-welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondent-half.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondentAndCorespondent-all-welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-granted-respondentAndCorespondent-all.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-notgranted-respondent-all-welsh.json
  src/integrationTest/resources/documentgenerator/documents/jsoninput/costs-order-judge-notgranted-respondent-all.json
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-corespondent-all-welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-corespondent-all.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondent-all-welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondent-all.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondent-assessment-welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondent-assessment.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondent-half-welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondent-half.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondentAndCorespondent-all-welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-granted-respondentAndCorespondent-all.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-notgranted-respondent-all-welsh.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/costs-order-judge-notgranted-respondent-all.pdf
  src/main/java/uk/gov/hmcts/reform/divorce/documentgenerator/domain/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/config/TemplatesConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/divorce/documentgenerator/functionaltest/DocumentGenerateAndStoreE2ETest.java
Labels: ns:divorce, prd:div, rel:div-dgs-pr-454
