Repository hmcts/div-document-generator-client, pull requests merged in 2021-02, with the labels that each got.

#423 Updated charts to v2
  charts/div-dgs/Chart.yaml
  charts/div-dgs/requirements.yaml
  dependency-check-suppressions.xml
Labels: ns:divorce, prd:div, rel:div-dgs-pr-423

#425 amend pdf-out for AOS changes
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Amend_Petition.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-SC.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Female.pdf
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Same-Sex-Male.pdf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-425

#424 Update java version: ~3.4.4
  build.gradle
  charts/div-dgs/Chart.yaml
  src/contractTest/resources/application.yml
  src/main/resources/application.yml
Labels: ns:divorce, prd:div, rel:div-dgs-pr-424

#427 update pdfoutput template and remove feature flag preventing some test runs
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/pdfgeneration/PDFGenerationSupport.java
  src/integrationTest/resources/documentgenerator/documents/pdfoutput/AOS_Hus_Res-Addr_DivUnit-EM.pdf
Labels: ns:divorce, prd:div, rel:div-dgs-pr-427
